<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="template/template :: head"></head>
<body>
<div th:replace="template/template :: sidebar"></div>
<header th:replace="template/template :: header"></header>
<section class="home-section text-center" id="section-home">
    <script th:if="${#authentication.getName() == 'anonymousUser'}" th:inline="javascript" async="async">
        document.getElementById("section-home").style.left = "0";
        document.getElementById("section-home").style.width = "auto";
    </script>
    <div class="img-area">
        <h2 class="text-center">BLUNI</h2>
        <p>It is an inventory control system that automates the administration process in universities and schools.</p>
    </div>
    <div class="text">
        <main class="container">
            <div class="row">
                <div class="col-md-6 text-center">
                    <img class="img-landing" th:src="@{https://i.imgur.com/jwHHN8f.png.png}">
                </div>
                <div class="col-md-6 text-center my-auto">
                    <h1 class="font-weight-bold">login system</h1>
                    <p>Individual user access for the use of the platform.</p>
                </div>

            </div>
            <div class="row flex-row-reverse">
                <div class="col-md-6 text-center">
                    <img class="img-landing" th:src="@{https://i.imgur.com/it3F0zC.png}">
                </div>
                <div class="col-md-6 text-center my-auto">
                    <h1 class="font-weight-bold">Inventory</h1>
                    <p>This option shows you a detailed list of the computers and devices that they manage.</p>
                </div>

            </div>
            <div class="row">
                <div class="col-md-6 text-center">
                    <img class="img-landing" th:src="@{https://i.imgur.com/O36FYwe.png}">
                </div>
                <div class="col-md-6 text-center my-auto">
                    <h1 class="font-weight-bold">Locations</h1>
                    <p>This section allows the user to create a new destination for the team..</p>
                </div>

            </div>
            <div class="row flex-row-reverse">
                <div class="col-md-6 text-center">
                    <img class="img-landing" th:src="@{https://i.imgur.com/5G8E57D.png}">
                </div>
                <div class="col-md-6 text-center my-auto">
                    <h1 class="font-weight-bold">Create computer equipment</h1>
                    <p>This section shows a formulation with which the user will be able to register a new equipment.</p>
                </div>

            </div>
            <div class="row">
                <div class="col-md-12 text-center p-5">
                    <h1>Report Generator</h1>
                    <img class="img-landing-2" th:src="@{https://i.imgur.com/TD6hxbP.png}">
                </div>
            </div>
            <div class="contactanos bg-light" id="D_contact">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">OUR TEAM</h2>
                </div>
                <div class="row">

                    <div class="col">
                        <div class="team-member">
                            <img class="mx-auto rounded-circle bordenosotros" th:src="@{https://i.imgur.com/97Ouvo1.jpg}" alt="..." />
                            <h4>FELIPE BALANTA</h4>
                            <p class="text-muted">Front-End Developer</p>
                            <a class="btn btn-dark btn mx-2 social-twitter" href="https://twitter.com/JFRBalanta"><i class="fab fa-twitter" style="color:white"></i></a>
                            <a class="btn btn-dark btn mx-2 social-facebook" href="https://github.com/F-balanta"><i class="fab fa-github" style="color:white"></i></a>
                            <a class="btn btn-dark btn mx-2 social-whatsapp" href="https://www.linkedin.com/in/juan-felipe-balanta-renter%C3%ADa-704654203/"><i class="fab fa-linkedin" style="color:white"></i></a>
                        </div>
                    </div>
                    <div class="col">
                        <div class="team-member">
                            <img class="mx-auto rounded-circle" th:src="@{https://i.imgur.com/exGpM4e.jpg}" alt="..." />
                            <h4>DAVID BALANTA</h4>
                            <p class="text-muted">Back-End Developer</p>
                            <a class="btn btn-dark btn mx-2 social-twitter" href="https://twitter.com/DavidBalanta14"><i class="fab fa-twitter" style="color:white"></i></a>
                            <a class="btn btn-dark btn mx-2 social-facebook" href="https://github.com/jdbalantar"><i class="fab fa-github" style="color:white"></i></a>
                            <a class="btn btn-dark btn mx-2 social-whatsapp" href="https://www.linkedin.com/in/jdbalantar/"><i class="fab fa-linkedin" style="color:white"></i></a>
                        </div>
                    </div>
                </div>

            </div>
            <div class="about" id="aboutid">
                <div class="row">
                    <div class="about-section bg-light">
                        <h2 class="text-about">About Project</h2>
                        <p> The project inspired us to learn a new technology.</p>

                        <p> Not only was the challenge of delivering a project according to the requested requirements, but the fact of going against
                        the barriers and learn technologies that we did not study during our learning process, which became a great
                        experience for us.
                        </p>

                        <p> We had the pleasure of carrying out our level as team collaborators to the maximum, since, when facing real projects
                        we are forced to take forms of collaborative work. It was very pleasant to carry out this process.
                        </p>

                        <p> We spend about 2 weeks studying about Java, Spring Boot, Maven, Hibarnate, Themeleaf, JPA, and a lot of
                        technologies with which we find ourselves to face in this challenge. I am also happy that I learned to use Bootstrap
                        since I had never had good interaction with CSS, and this was a great opportunity.
                        </p>

                        <p> This project was made for Mision Tic /  Pereira Technological University - UTP.</p>
                    </div>
                </div>
            </div>
        </main>
    </div>
</section>
<footer th:replace="template/template :: footer"></footer>

</body>
</html>

